body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  flex-direction: column;
}
.center-content {
}

.side-bar-left {
  background-color: rgb(118, 187, 216);
  width: 100px;
  height: 100vh;
}

.side-bar-right {
  background-color: rgb(118, 187, 216);
  width: 100px;
  height: 100vh;
}
